
html {

        background: url(../images/DarkTire.png);
    
}

body {
	margin: 0;
	padding: 0;
}

header {
	height: 100px;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	text-align: center;
	margin-bottom: 20px;
	
}

#nav {
	display: block;
	float: right;
   	text-decoration: none;
    width: fit-content;
    text-align: center;
}

a{ 
text-decoration: none; }

#entire-content {
	width: 960px;
    margin-left: auto;
    margin-right: auto;
}



#my_name {
	background-color: #4aaaa5;
	color: #ffffff;
	position: relative;
    left: 0;
    bottom: 0;
    width: fit-content;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    padding: 25px;	

}


h2 {
	display: block;
	font-size: 2em
	font-weight: bold;
}

#container {
	background-image: url("DarkTire.png");
}

#about_me {
	width: 600px;
	background-color: #ffffff;
	float: left;
	display: block;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    display: block;
    font-weight: bold;
}

.line {
	width: 100%;
    height: 2px;
    background: #dddddd;
    margin-top: 10px;
    margin-bottom: 10px;
}

#image {
	width: 200px;
	height: 200px;
	float: left;
}

p {
	display: block;
}

#sidebar {
	float: left;
    width: 220px;
    text-align: center;
}

#about_me, #sidebar {
	background-color: white;
    border: solid #dddddd;
    
    padding: 25px;
}

h3 {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #4aaaa5;
}

.logo {
	width: 60px;
}

footer {
	background-color: #666666;
	color: #ffffff;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
	font-size: 11px;
	text-align: center;
	position: ;
	clear: left;
	border-top: 10px solid #4aaaa5;
	display: block;
}	


